<html><head>
    <meta charset="utf-8">
    <!-- (1) Optimize for mobile versions: http://goo.gl/EOpFl -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- (1) force latest IE rendering engine: bit.ly/1c8EiC9 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
    <title>所有專案</title>
    <meta name="description" content="生長在台灣的我們，很少從一個宏觀的角度看整個台灣的經濟、法律、交通、教育... ，而我們相信數據可以幫我們更了解我們身長在的這片土地上的一切。讓我們來用數據看台灣！">
    <meta name="google-site-verification" content="4odjyr2Bffb7qKICeGcRKviNrPqiCIxoYenDlzjYAO0">
    <meta property="og:title" content="所有專案">
    <meta property="og:site_name" content="所有專案">
    <meta property="og:description" content="生長在台灣的我們，很少從一個宏觀的角度看整個台灣的經濟、法律、交通、教育... ，而我們相信數據可以幫我們更了解我們身長在的這片土地上的一切。讓我們來用數據看台灣！">
    <meta property="og:image" content=" http://i.imgur.com/04AFcnA.png?1 ">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">
  
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="http://brick.a.ssl.fastly.net/Linux+Libertine:400,400i,700,700i/Open+Sans:400,400i,700,700i">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
    <link rel="stylesheet" type="text/css" media="print" href="/css/print.css}}">
  </head>
  <body itemscope="" itemtype="http://schema.org/Article">
    <!-- header start -->
    
    <a href="http://taiwanstat.com" class="logo-readium"><span class="logo" style="background-image: url(/assets/images/taiwanstat_thumb.png)"></span></a>
    
    <!-- header end -->
    <main class="content" role="main">
      <article class="post">
        <div class="noarticleimage">
          <div class="post-meta">
            <h1 class="post-title">所有專案</h1>
            <div class="cf post-meta-text">
              <div class="author-image" style="background-image: url(/assets/images/taiwanstat_thumb.png)">Blog Logo</div>
              <h4 class="author-name" itemprop="author" itemscope="" itemtype="http://schema.org/Person">用數據看台灣團隊</h4>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        <section class="post-content">
          <a name="topofpage"></a>
          <p>目前我們所有專案：</p>
<ul>
<li><a href="http://water.taiwanstat.com/">台灣水庫即時水情</a></li>
</ul>
<p><img src="/assets/images/project/reservoir.png" alt="台灣水庫即時水情"></p>
<ul>
<li><a href="http://real.taiwanstat.com/power/">台灣即時用電資訊</a></li>
</ul>
<p><img src="/assets/images/project/power.png" alt="台灣即時用電資訊"></p>
<ul>
<li><a href="http://real.taiwanstat.com/air/">台灣即時空氣品質指標 PSI</a></li>
</ul>
<p><img src="/assets/images/project/psi.png" alt="台灣即時空氣品質指標 PSI"></p>
<ul>
<li><a href="http://real.taiwanstat.com/pm2.5/">台灣即時空氣品質指標 PM 2.5</a></li>
</ul>
<p><img src="/assets/images/project/pm2.5.png" alt="台灣即時空氣品質指標 PM 2.5"></p>
<ul>
<li><a href="http://long.taiwanstat.com/price/">台灣物價指數變化</a></li>
</ul>
<p><img src="/assets/images/project/price.png" alt="台灣物價指數變化"></p>

        </section>
      </article>
    </main>
    <div class="bottom-closer">
      <div class="background-closer-image" {%if="" site.cover="" %}="" style="background-image: url(/assets/images/taiwanstat_cover1.png)" {%="" endif="">
        Image
      </div>
      <div class="inner">
        <h1 class="blog-title">用數據看台灣</h1>
        <h2 class="blog-description">生長在台灣的我們，很少從一個宏觀的角度看整個台灣的經濟、法律、交通、教育... ，而我們相信數據可以幫我們更了解我們身長在的這片土地上的一切。讓我們來用數據看台灣！</h2>
        <a href="/" class="btn">Back to Overview</a>
      </div>
    </div>
    {% include javascripts.html %}
  

</body></html>